#banner
    .banner_content
        %h1 File Cabinet
        %p Your Life's Work. Organized, Always!
        %button= link_to "Enter", new_user_registration_path
        
    
#callouts
    .callout_inner
        .wrapper
            .callout_inner  
                %h2 Organized
                %p Subway tile pour-over drinking vinegar schlitz. Squid fixie health goth kale chips, pabst gastropub helvetica raclette waistcoat air plant activated charcoal small batch chambray. Actually tumeric kale chips, schlitz synth tilde photo booth echo park man bun swag distillery chartreuse bushwick vape pitchfork. Tousled pork belly banjo lumbersexual normcore, street art venmo chambray actually kinfolk you probably haven't heard of them hoodie echo park gastropub pinterest. Quinoa mixtape DIY, fap trust fund waistcoat letterpress you probably haven't heard of them neutra bespoke. Sustainable etsy stumptown cold-pressed. Banjo poke pork belly biodiesel next level heirloom.

%button_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now!", new_user_registration_path  